:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* styles/globals.css */
html, body, #__next {
  height: 100%;
  margin: 0;
}
body {
  font-family: sans-serif;
}

/* 背景グラデーション */
.bg-radial {
  background: radial-gradient(circle at center, #FFFFFF 0%, #EDEDED 100%);
  height: 100%;
}

